.box{
    background-color: white;
    border:1px solid #bfbfc1;
    border-radius: 10%;
    
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 3rem;
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    line-height: 4rem;
    margin: 0.5rem;
}

.x{
    color: #D7BAFB;
}

.o{
    color: #41BED7;
}

.box:hover{
    box-shadow: 0px #c0bebe;
}