*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: white;
  font-family: "Fredoka", sans-serif;
}

.heading{
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #4D6986;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subHeading{
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: #73879c;
  margin-top: 4px;
  margin-bottom: 10px;
}

